<%# app/views/records/edit_fields/_parent.html.erb %>
<% if !params[:parent_id] && f.object.model.parent_options %>
  <%= f.input :in_works_ids, as: :hidden, input_html: { value: "", multiple: true } %>
  <div class="form-group select optional parent_id">
    <% selected_val = defined?(f.object.model.member_of.first.id) ? f.object.model.member_of.first.id : nil %>
    <%= label_tag 'parent_id', 'Parent', class: 'control-label select optional' %>
    <%= select_tag 'parent_id', options_for_select(f.object.model.parent_options, selected_val), include_blank: true, class: 'form-control' %>
  </div>

  <script type='text/javascript'>
      $(function() {
          $('#parent_id').change(function() {
              var x = $(this).val();
              $('#<%= f.object_name %>_in_works_ids').val(x);
          });
      });
  </script>
<% end %>
