<div id="newspaper_hierarchy" class="breadcrumb">
  <ol>
  <% newspaper_breadcrumbs(presenter).each do |link| -%>
    <li><%= link %></li>
  <% end %>
  <li><%= presenter.title.first %></li>
  </ol>
</div>
