<div id="front_pages_input" class="form-group newspapers_search_field">
  <label class="control-label col-sm-3">
    <%# t("newspaper_works.newspapers_search.fields.keyword") %>
  </label>
  <div class="col-sm-7">
    Limit search to front pages:
    <%= check_box_tag(:front_pages, true, false, class: 'front_pages_checkbox' ) %>
  </div>
</div>